{% extends "admin/template.html" %}

{% block menuzone %}
{% include("admin/menu.html") %}
{% endblock %}

{% block page %}

<div class="col-md-12">
    <h4>Total files: {{nfiles}}</h4>
    <h5>Used space: {{usedSpace}}MB of max {{maxSize}}MB</h5>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Origname</th>
                    <th>Extension</th>
                    <th>FileSize</th>
                    <th>UploadDate</th>
                    <th>NDownloads</th>
                    <th>LastDownload</th>
                    <th>Mime type</th>
                    <th>Password</th>
                    <th>DeleteDate</th>
                    <!--<th>DeletePassword</th>-->
                    <th>Integrity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.id}}</td>
                    <td>{{ file.origName}}</td>
                    <td>{{ file.extension}}</td>
                    <td>{{ file.fileSize | number_format}}</td>
                    <td>{{ file.uploadDate | date("Y-m-d H:i:s") }}</td>
                    <td>{{ file.nDownloads}}</td>
                    <td>{% if file.lastDownload is not empty %} {{ file.lastDownload | date("Y-m-d H:i:s")}} {% endif %}</td>
                    <td>{{ file.type}}</td>
                    <td>{% if file.password is not empty %} <span title="{{file.password}}">yes</span> {% endif %}</td>
                    <td>{{ file.deleteDate | date("Y-m-d H:i:s")}}</td>
                   <!-- <td><span title="{{file.Deletepassword}}">ok</span></td>-->
                    <td><span title="{{file.integrity}}">sha256</span></td>
                    <td><a href="{{urlAdminDownload}}{{file.Id}}">Download</a> |
                        <a href="{{urlAdminDelete}}{{file.Id}}" onclick="return confirm('Delete this file?');">Delete</a> |
                        <a href="path_for('adminDeleteAndBlock', { 'id': {{file.Id}})" onclick="return confirm('Delete and Block this file?');">D&Block</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}

{% block addtobody %}

{% endblock %}