{% extends "admin/template.html" %}

{% block menuzone %}
{% include("admin/menu.html") %}
{% endblock %}

{% block page %}

<div class="px-2">
    <div>
        <a href="{{urlAdminCreateNews}}" class="btn btn-outline-primary">New post</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for newi in news %}
            <tr>
                <td>{{ newi.id}}</td>
                <td>{{ newi.title}}</td>
                <td>{{ newi.dateCreation | date("Y-m-d H:i:s")}}</td>
                <td><a href="{{urlAdminDeleteNew}}{{newi.id}}" onclick="return confirm('Delete this news?');">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}

{% block addtobody %}

{% endblock %}