{% extends "template.html" %}

{% block menuzone %}
{% include("menu.html") %}
{% endblock %}

{% block page %}

<div class='panel panel-default'>
    <div class="panel-body">
        <h4>Uploads blocked</h4>
        <p>Since we seem to be a popular option to upload illegal content, we blocked the uploads. You can only download.
            We will reenable uploads as soon as we can.
            Please, <b>do not upload illegal content again, ever</b>. We do not log your IP, but do not use this service for that, it is wrong and we may be forced to close the service for that.<br><br>
            Thanks.</p>
    </div>

</div>

{% endblock %}

{% block addtobody %}

{% endblock %}
