{% extends "template.html" %}

{% block menuzone %}
{% include("menu.html") %}
{% endblock %}

{% block page %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Some stadistics about this site</div>
    </div>
    <table class="table">
        <tr>
            <td>Number of files online</td>
            <td>{{nfiles}}</td>
        </tr>
                <tr>
            <td>Number of downloads from online files</td>
            <td>{{ndownloads}}</td>
        </tr>
    </table>
</div>

    <p>
        Please, note that we do not keep a counter for a total uploaded files or total number of downloads. This numbers are only from online files.
    </p>
{% endblock %}

{% block addtobody %}

{% endblock %}
