{% extends "template.html" %}

{% block menuzone %}
{% include("menu.html") %}
{% endblock %}

{% block page %}

<div class="text-justify">
    <h4> 1. Use of service </h4>
    <p>Users are solely responsible for the files that are uploaded. NullUpload.com and those who work with the website can not be held responsible for the material.</p>
    <h4> 2. Files </h4>
    <p>While we try our best to keep all uploads active NullUpload.com has no responsibility to maintain the uploaded files. This site remains with no warranty for free uploads.</p>
    <h4> 3. Terms </h4>
    <p>Uploading is showing your acceptance of the terms and conditions and can therefore be held responsible for illegal and/or copyright infringement material. Uploading means your acceptance of our privacy policy too.</p>
    <h4> 4. Offenses </h4>
    <p>Do not upload anything that is illegal (<b>child porn is not allowed</b>)All illegal files will be removed as soon as possible when reported (we do not scan actively uploaded files). You can report files on our email: nullupload@protonmail.com or nullupload@tuta.io</p>
    <h4> 5. Misuse </h4>
    <p>Files with the intention to cause harm to either the website, server, or users will be removed. Uploading files means you share these files and these
        files will be downloaded many times, using the service for personal long time backups where downloads are just a few is not permitted.
        <br>Files older than 1 day with less than 2 downloads will be removed.</p>
    <h4> 6. Report files </h4>
    <p>
        Any user have the right and must report illegal files to be deleted. <br>
        To report a file you send an email to nullupload@protonmail.com or nullupload@tuta.io with the download link of the offending file, if the content is protected with a password (eg. rar files)
        please, provide a password. We will read the report within 72 hours and review the content and delete the file if needed.
    </p>
    <br>
    <p>This document was last updated on January 20, 2020: update retention policy.</p>
</div>

{% endblock %}

{% block addtobody %}

{% endblock %}

